@charset "UTF-8";

body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}

header{
    background-color: black;
    max-width: 380px;
    margin: auto;
    padding: 20px;
}

main{
    background-color: black;
    max-width: 380px;
    margin: auto;
    padding: 20px;
}

#senha{
    border-radius: 5px;
    border: none;
}

#entrar{
    background-color: darkgreen;
    border-radius: 5px;
    border: none;
    color: white;
}
